<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Front-Page</title>
</head>
<body class="d-flex align-items-center justify-content-center bg-body-tertiary">
    <main class="container">
        <section>
            <div class="row justify-content-center" id="uv-details-form">
                <div class="col-md-8">
                    <h1 class="text-center mb-4">Fill in the details to obtain UV Index</h1>
                    <form class="row g-3 border p-2" method="POST" action="/uv-details">
                        <div class="col-md-6">
                            <label class="form-label">Latitude [-180.00 to 180.00]</label>
                            <input type="text" class="form-control" id="latitude" required name="lattitude">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Longitude [-90.00 to 90.00]</label>
                            <input type="text" class="form-control" id="longitude" required name="longitude">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="105-b Anand Nagar" name="address">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Altitude (in meters) [0 - 1000]</label>
                            <input type="number" class="form-control" id="altitude" placeholder="20" min="0" max="10000" required name="altitude">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-25">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section>
            <div class="my-5 container" id="uv-index-details">
                <% if (!locals.uvData && !locals.sunData) { %>
                    <h1 class="text-center">No Data to show!!</h1>
                <% } else { %>
                    <div class="row justify-content-center">
                        <div class="col-md-6 mb-4">
                            <div class="d-flex align-items-center justify-content-center p-4 rounded-5 uv-index-container">
                                <div class="bg-primary rounded-3 p-4 shadow-lg uv-index-box">
                                    <div class="d-flex align-items-center gap-2">
                                        <i class="bi bi-brightness-high uv-icon"></i>
                                        <h1 class="text-white text-2xl font-light text-opacity-50">UV INDEX</h1>
                                    </div>
                                    <div class="text-white">
                                        <div class="display-2 font-light mb-0 d-flex align-items-baseline">
                                            <span><%= locals.uvData.uvIndex %></span>
                                            <sub class="ms-1" style="position: relative; top: -2px; font-size: 10px;"><%= locals.uvData.uvTime %></sub>
                                        </div>
                                        <div class="h3" style="background: linear-gradient(to right, <%= locals.uvData.gradientString %>); -webkit-background-clip: text; color: transparent;">
                                            <%= locals.uvData.uvWarning %>
                                        </div>
                                        <p class="fs-4 font-light"><%= locals.uvData.warningMessage %></p>
                                        <div class="">
                                            <h2 class="text-white">Max UV Index for the Day: 
                                                <span style="background: linear-gradient(to right, <%= locals.uvData.maxGradientString %>); -webkit-background-clip: text; color: transparent;">
                                                    <%= locals.uvData.uvIndexMax %>
                                                </span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="d-flex align-items-center justify-content-center p-4 rounded-5 uv-index-container">
                                <div class="bg-primary rounded-3 p-4 shadow-lg uv-index-box">
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <i class="bi bi-brightness-high uv-icon"></i>
                                        <h1 class="text-white text-2xl font-light">UV INDEX</h1>
                                    </div>
                                    <div class="text-white">
                                        <div class="display-1 font-light mb-2"><%= locals.uvData.uvIndex %></div>
                                        <div class="h2 mb-4" style="background: linear-gradient(to right, <%= locals.uvData.gradientString %>); -webkit-background-clip: text; color: transparent;">
                                            <%= locals.uvData.uvWarning %>
                                        </div>
                                        <p class="h3 font-light"><%= locals.uvData.warningMessage %></p>
                                        <div class="mt-4">
                                            <h2 class="text-white">Max UV Index for the Day: 
                                                <span style="background: linear-gradient(to right, <%= locals.uvData.maxGradientString %>); -webkit-background-clip: text; color: transparent;">
                                                    <%= locals.uvData.uvIndexMax %>
                                                </span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %> 
            </div>
        </section>
    </main>
</body>
</html>